<div class="contenedor">

    <section class=cristales>
        <h1>Cristales</h1>

        <img class="joyitas-conseguidas" src="" alt="Joyitas Conseguidas">
    </section>

    <section class="perfil">

        <img class="imagen-perfil" src="" alt="Imagen de perfil">
        <form class="perfilform">
            <h1 class="titulo">
                Perfil
            </h1>
            <h5>Introduce los datos para crear tu cuenta</h5>

            <input type="text" name="Usuario" placeholder="Usuario" title="Usuario" required>
            <input type="text" name="Nivel" placeholder="Nivel" title="Nivel" required>
            <input type="text" name="Tiempo" placeholder="Tiempo" title="Tiempo" required>
            <input type="text" name="Ranking" placeholder="Ranking" title="Ranking" required>

            <button class="button" type="submit" id="registro">Eliminar perfil</button>
        </form>
        <br>
        <br>
        <button class="button" id="play">PLAY</button>

        <br>
        <br>

    </section>

    <section class="ranking">
        <h1>Ranking</h1>

        <img class="mejores-jugadores" src="" alt="Mejores jugadores">
    </section>

</div>