<div class="contenedor">

    <div class=cristales>
        <h3>Cristales</h3>

        <img class="joyitas-conseguidas" src="" alt="Joyitas Conseguidas">
    </div>

    <div class="perfil">

        <img class="imagen-perfil" src="" alt="Imagen de perfil">
        <form class="perfilform">
            <h1 class="titulo">
                Perfil
            </h1>
            <h5>Introduce los datos para crear tu cuenta</h5>
            <label><h6>Usuario</h6></label>
            <input type="text" name="Usuario" placeholder="Usuario" title="Usuario" required>
            <label><h6>Nivel</h6></label>
            <input type="text" name="Nivel" placeholder="Nivel" title="Nivel" required>
            <label><h6>Tiempo</h6></label>
            <input type="text" name="Tiempo" placeholder="Tiempo" title="Tiempo" required>
            <label><h6>Ranking</h6></label>
            <input type="text" name="Ranking" placeholder="Ranking" title="Ranking" required>

            <button class="button" type="submit" id="registro">Eliminar perfil</button>
        </form>
        <br>
        <br>
        <button class="button play">PLAY</button>

        <br>
        <br>

    </div>

    <div class="ranking">
        <h1>Ranking</h1>

        <img class="mejores-jugadores" src="" alt="Mejores jugadores">
    </div>

</div>