<div class="contenedor">

    <div class=cristales>
        <h3>Cristales</h3>

        <img class="joyitas-conseguidas" src="" alt="Joyitas Conseguidas">
    </div>

    <div class="perfil">

        <img class="imagen-perfil" src="" alt="Imagen de perfil">
        <form class="perfilform">
            <h1 class="titulo">
                Perfil
            </h1>
            <label>Usuario</label>
            <input type="text" name="Usuario" placeholder={{usuario?.username}} title="Usuario" required>
            <label>Email</label>
            <input type="text" name="Usuario" placeholder={{usuario?.email}} title="Usuario" required>
            <label>Nivel</label>
            <input type="text" name="Nivel" placeholder="Nivel" title="Nivel" required>
            <label>Tiempo</label>
            <input type="text" name="Tiempo" placeholder="Tiempo" title="Tiempo" required>
            <label>Ranking</label>
            <input type="text" name="Ranking" placeholder="Ranking" title="Ranking" required>

            <button class="button" type="submit" id="registro">Eliminar perfil</button>
        </form>
        <br>
        <br>
        <button class="button play" >PLAY</button>

        <br>
        <br>

    </div>

    <div class="ranking">
        <h1>Ranking</h1>

        <img class="mejores-jugadores" src="" alt="Mejores jugadores">
    </div>

</div>