@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&display=swap');

.contenedor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.cristales {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cristales h3 {
    color: white;
    text-shadow: 1px 1px 5px black;
    font-family: "Astloch";
    font-weight: bold;
    font-size: 3vw;
    line-height: 1;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 5%;

    background-color: white;

    -webkit-box-shadow: 0px 0px 5px 5px;
    -moz-box-shadow: 0px 0px 5px 5px;
    box-shadow: 0px 0px 5px 5px;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-sizing: border-box;
    grid-column: 2/6;
}

.perfil img {
    max-width: 100%;
}

.perfilform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    padding: 1vw;
    font-family: "Astloch";
    font-size: 8vw;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

.perfil input {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    /* box-sizing: border-box; */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    min-width: 325px;
}

.button {
    position: relative;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #2F4F4F;
    cursor: pointer;
    font-weight: bold;
    background-color: #D8B6F9;
    transition: all 0.2s ease;
    min-width: 350px;
    font-size: large;
}

.button:active {
    transform: scale(0.96);
}

.play {
    background-color: #B1FFDA;
}

.ranking {
    /* background-color: #B1FFDA; */
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 6/8;
}

.ranking h1 {
    color: white;
    text-shadow: 1px 1px 5px black;
    font-family: "Astloch";
    font-weight: bold;
    text-align: center;
    font-size: 3vw;
    line-height: 1;
}

/* 
@media screen and (max-width:400px){
    .contenedor{
        width:100%;
    }
}
@media screen and (max-height:400px){
    .contenedor{
        height:fit-content;
    }
} */

/* @media screen and (min-height:fullscreen){
    .contenedor{
        height:fit-content;
    }
} */