<div class="contenedor">
    <div class=cristales>
        <p>Cristales <br>Durmientes</p>
    </div>

    <div class="login">
        <img src="..\assets\joyitas-sin-fondo.png" class="joyitas" alt="Joyitas cabecera">

        <form class="loginform">
            <h3 class="titulo">
                ¡Bienvenid&#64;s!
            </h3>
            <h5>Introduce tu correo electrónico y contraseña para iniciar sesión.</h5>
            <label>Correo electrónico</label>
            <input type="email" name="email" placeholder="Correo electrónico" title="Correo electrónico" required>
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña" title="Contraseña" required><br><br>

            <button class="button iniciar-sesion" type="submit">Iniciar sesión</button>
        </form>
        <br>
        <button class="button registro" onclick="location.href='/registro'">Crear nuevo usuario</button>
        <br>
        <img class="joyitas" src="../assets/joyitas-sin-fondo.png" alt="Joyitas final" />
    </div>
</div>