<div class="contenedor">

    <div class=cristales>
        <h3>Cristales</h3>
        @if(usuario.nivelDTO.idNivel==0){
        <img class="joyitas-conseguidas" src="..\assets\PERFILjoyitas-sin-fondo.png" alt="Joyitas Conseguidas">
        } @else if(usuario.nivelDTO.idNivel==1){
        <img class="joyitas-conseguidas" src="..\assets\PERFILjoyitas1.png" alt="Joyitas Conseguidas">
        } @else if(usuario.nivelDTO.idNivel==2){
        <img class="joyitas-conseguidas" src="..\assets\PERFILjoyitas2.png" alt="Joyitas Conseguidas">
        } @else if(usuario.nivelDTO.idNivel==3){
        <img class="joyitas-conseguidas" src="..\assets\PERFILjoyitas3.png" alt="Joyitas Conseguidas">
        }
    </div>

    <div class="perfil">
        <h1 class="titulo">
            Perfil
        </h1>
        <img class="imagen-perfil"
            src="https://avatars.githubusercontent.com/u/103118802?s=400&u=92bac3ca1e8d33cc3fa58ed50afe79f73cea9f5a&v=4"
            alt="Imagen de perfil">
        <div class="detalles">

            <table class="tabla-usuario">
                <tr>
                    <td>
                        <h6><b>Usuario</b></h6>
                    </td>
                    <td>
                        <h6>{{usuario.username}}</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6><b>Nivel</b></h6>
                    </td>
                    <td>
                        <h6>{{usuario.nivelDTO.idNivel}}</h6>
                    </td>
                </tr>
            </table>

            <button class="eliminar" type="submit" id="eliminar">Eliminar perfil</button>
        </div>
        <br>
        <br>
        <button class="button play" (click)="jugar()">PLAY</button>

        <br>
        <br>

    </div>

    <div class="ranking">
        <h1>Ranking</h1>
        <table>
            @for (user of lista_Ranking; track user){
            <tr>
                <td><img class="imagen-perfil" [src]=user.imagen alt="Imagen de perfil"></td>
                <td>
                    <h5>Nivel {{user.nivelDTO.idNivel}}</h5>
                    <h5>{{user.username}}</h5>
                </td>

            </tr>
            }
        </table>
    </div>

</div>