
<div class="contenedor">

    <div class="registro">
        <img class="joyitas" src="..\assets\joyitas-sin-fondo.png" alt="Joyitas cabecera">
        
        <form class="registroform">
            <h3 class="titulo">
                Registro
            </h3>
            <h5>Introduce los datos para crear tu cuenta</h5>
           <label><h6>Nombre de usuario</h6></label>
            <input type="text" name="nombre" placeholder="Nombre de usuario" title="Nombre de usuario" required>
            <label><h6>Contraseña</h6></label>
            <input type="password" name="password" placeholder="Contraseña" title="Contraseña" required>
            <label><h6>Repetir contraseña</h6></label>
            <input type="password" name="password" placeholder="Repetir contraseña" title="Repetir contraseña" required>

            <button class="button" type="submit" id="registro">Regístrate</button>
            <br>
        </form>
       
        <img class="joyitas" src="..\assets\joyitas-sin-fondo.png" alt="Joyitas final"/>

    </div>

    
    <div class=cristales>
        <img src="..\assets\Logo.png" class="logo" alt="logo">
    </div>
</div>    


