
<div class="contenedor">

    <section class="registro">
        <img class="joyitas" src="..\assets\joyitas-sin-fondo.png" alt="Joyitas cabecera">
        
        <form class="registroform">
            <h1 class="titulo">
                Registro
            </h1>
            <h5>Introduce los datps para crear tu cuenta</h5>
           
            <input type="text" name="nombre" placeholder="Nombre de usuario" title="Nombre de usuario" required>
            
            <input type="email" name="email" placeholder="Correo electrónico" title="Correo electrónico" required>

            <input type="password" name="password" placeholder="Contraseña" title="Contraseña" required>
            
            <input type="password" name="password" placeholder="Repetir contraseña" title="Repetir contraseña" required>

            <button class="button" type="submit" id="registro">Regístrarse</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        <img class="joyitas" src="..\assets\joyitas-sin-fondo.png" alt="Joyitas final"/>

    </section>

    
    <section class=cristales>
        <h1>Cristales Durmientes</h1>
    </section>
</div>    


