
<div class="contenedor">

    <div class="registro">
        <img class="joyitas" src="..\assets\joyitas-sin-fondo.png" alt="Joyitas cabecera">
        
        <form class="registroform">
            <h3 class="titulo">
                Registro
            </h3>
            <h5>Introduce los datos para crear tu cuenta</h5>
           <label>Nombre de usuario</label>
            <input type="text" name="nombre" placeholder="Nombre de usuario" title="Nombre de usuario" required>
            <label>Correo electrónico</label>
            <input type="email" name="email" placeholder="Correo electrónico" title="Correo electrónico" required>
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña" title="Contraseña" required>
            <label>Repetir contraseña</label>
            <input type="password" name="password" placeholder="Repetir contraseña" title="Repetir contraseña" required>

            <button class="button" type="submit" id="registro">Regístrate</button>
            <br>
        </form>
       
        <img class="joyitas" src="..\assets\joyitas-sin-fondo.png" alt="Joyitas final"/>

    </div>

    
    <div class=cristales>
        <p>Cristales <br> Durmientes</p>
    </div>
</div>    


